/*-------------------------TAG SELECTOR--------------------------------*/
body {
  width: 100vw;
  height: 100vh;
  background-image: url("./background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

form {
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ccc;
}

button:hover {
  background-color: #0059b3;
}

/*-------------------------ID SELECTOR--------------------------------*/
#popular-search{
  display: block;
}
#popular-search h4 {
  font-size: 15px;
}

.popular-search-button {
  display: inline;
  padding: 10px 20px;
  font-size: 16px;
  background-color: teal;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 2%;
  justify-content: space-between;
}

/*-------------------------CLASS SELECTOR--------------------------------*/


@media only screen and (min-width: 800px) {
  .App {
  margin-left: 30%;
  padding: 20px;
  font-family: Arial, sans-serif;
  }}
  
.App {
  max-width: 800px;
  font-family: Arial, sans-serif;
}
.App h1 {
  margin-left: 20%;
}

.submit-button {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0066cc;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
